<!DOCTYPE html>
<html>
<head>
<title>Med_bot</title>
<style>
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

df-messenger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}
</style>
</head>
<body>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Med_bot"
  agent-id="818b6856-fb7d-4d78-af47-bf707e980741"
  language-code="en"
></df-messenger>
</body>
</html>
